@model Asp.netApp.Areas.Admin.Models.ViewModels.Category.CategoryEditViewModel;

@inject IViewLocalizer _localizer;
<input type="hidden" value="@ViewBag.oldPicture" name="oldPicture" />
<input type="hidden" value="@ViewBag.Id" name="id" /> 
<div class="row">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@_localizer["info"]</h4>

            </div><!-- end card header -->
            <div class="card-body">

                <div>
                    <label asp-for="CategoryName" class="form-label ">
                        @_localizer["name"]<span style="color:red">(*)</span>
                    </label>
                    <div class="form-icon right">
                        <input type="text" class="form-control form-control-icon" asp-for="CategoryName" value="@Model.CategoryName" id="iconrightInput" placeholder="@_localizer["enter"] @_localizer["name"]">
                        <i class="ri-account-circle-line"></i>
                    </div>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>


            </div>
        </div>



    </div>

    <div class="col-lg-6">

        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@_localizer["status"]</h4>

            </div><!-- end card header -->
            <div class="card-body">
                <div class="col-12">
                    <label asp-for="Active" class="form-label mt-1">
                        @_localizer["status"]<span style="color:red">(*)</span>
                    </label>
                    <select asp-for="Active" class="form-select mb-3" aria-label="Default select example">
                        <option selected="" value="">@_localizer["selectstatus"]</option>
                        <option value="1">@_localizer["active"]</option>
                        <option value="0">@_localizer["inactive"]</option>
                    </select>
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>

            </div>
        </div>



    </div>

</div>


<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@_localizer["image"]</h4>

            </div><!-- end card header -->
            <div class="card-body">

                <div class="mt3">
                    <label for="iconrightInput" class="form-label mt-1">
                        @_localizer["image"]
                    </label>
                    <div class="form-icon right">
                        <input type="file" name="uploadFile" class="form-control form-control-icon" id="iconrightInput">
                        <i class="mdi mdi-file-image-minus-outline"></i>
                    </div>
                    @if (@ViewBag.oldPicture != null)
                    {
                        <img src="/images/@ViewBag.oldPicture" width="100px" />
                    }else
                    {
                     <span>No image</span>   
                    }
                   
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 text-right">
        <button type="submit" class="btn rounded-pill btn-primary waves-effect waves-light">@_localizer["submit"]</button>
        <a asp-action="Index" asp-controller="Category" class="btn rounded-pill btn-danger waves-effect waves-light">@_localizer["back"]</a>
    </div>

</div>

