
@inject IViewLocalizer _localizer;

<form action="" method="get" style="display:flex;height: 36px">
   
    <select class="form-select " name="status" aria-label="Default select example"> 
        <option value="">@_localizer["allstatus"]</option>
        @if (ViewBag.status == "1")
        {
            <option value="1" selected>@_localizer["active"]</option>
            <option value="0">@_localizer["inactive"]</option>
        }
        else if (ViewBag.status == "0")
        {
            <option value="1">@_localizer["active"]</option>
            <option value="0" selected>@_localizer["inactive"]</option>
        }else
        {
            <option value="1">@_localizer["active"]</option>
            <option value="0">@_localizer["inactive"]</option>
        }
    </select>
    <div class="input-group">
        <input type="text" class="form-control" name="s" value="@ViewBag.s" placeholder="@_localizer["search"] ...">
        <button type="submit" class="btn btn-success waves-effect waves-light"><i class="las la-search"></i></button>
    </div>
</form>