@using X.PagedList.Mvc.Core;

@{
    Layout = null;
    var items = ViewBag.brands as X.PagedList.IPagedList<Asp.netApp.Areas.Admin.Models.DataModel.Brand>;
   // var items = ViewBag.categories as IEnumerable<Asp.netApp.Areas.Admin.Models.DataModel.Category>;

}

@inject IViewLocalizer _localizer;
<table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
    <thead>
        <tr>
            <th scope="col" style="width: 10px;">
                <div class="form-check">
                    <input class="form-check-input fs-15" type="checkbox" id="checkAll" value="option">
                </div>
            </th>
            <th data-ordering="false">@_localizer["srno"]</th>
            <th data-ordering="false">@_localizer["name"]</th>
            <th data-ordering="false">@_localizer["status"]</th>
            <th>@_localizer["action"]</th>
        </tr>
    </thead>
    <tbody>

        @if (items != null)
        {
            @foreach (var brand in items.Select((value, index) => new { value, index }))
            {

                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option1">
                        </div>
                    </th>
                    <td> @(brand.index + 1)</td>
                    
                    <td>

                        @Html.DisplayFor(modelItem => brand.value.BrandName)
                    </td>
                    <td>

                        @if (brand.value.Active == true)
                        {
                            <span class="badge bg-danger">Hoạt động</span>
                        }
                        else
                        {
                            <span class="badge bg-info">Không hoạt động</span>
                        }
                    </td>
                   

                    <td>
                        <div class="dropdown d-inline-block">
                            <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-fill align-middle"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a asp-action="Details" asp-controller="Brand" asp-route-id="@brand.value.BrandId" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>

                                <li><a asp-action="Edit" asp-controller="Brand" asp-route-id="@brand.value.BrandId" class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a></li>

                                <li>
                                    <a class="dropdown-item remove-item-btn" asp-action="Delete" asp-controller="Brand" asp-route-id="@brand.value.BrandId">
                                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>


            }

        }




    </tbody>
</table>



<ul class="pagination" style="justify-content:flex-end">
    @Html.PagedListPager(
            items,
            page => Url.Action("Index", "Category", new { page = page,  status = ViewBag.status, s = ViewBag.s }),
            new PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination" }, // Add a class to the <ul> element

        LiElementClasses = new[] { "page-item" }, // Add a class to each <li> element
        PageClasses = new[] { "page-link" }, // Add a class to each page link
        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always
    }
            )
</ul>