@model Asp.netApp.Areas.Admin.Models.ViewModels.Product.ProductEditViewModel;
@using Microsoft.Extensions.Localization
@using Asp.netApp.Areas.Admin.Resources


@inject IViewLocalizer _localizer;

<div class="row">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@_localizer["maininformation"]</h4>

            </div><!-- end card header -->
            <div class="card-body">
              
                <div>
                    <label asp-for="ProductName" class="form-label ">
                        @_localizer["productname"]<span style="color:red">(*)</span>
                    </label>
                    <div class="form-icon right">
                        <input type="text" class="form-control form-control-icon" asp-for="ProductName" value="@Model.ProductName" id="iconrightInput" placeholder="@_localizer["enter"] @_localizer["productname"]">
                        <i class="ri-account-circle-line"></i>
                    </div>
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="mt3">
                    <label asp-for="Price" class="form-label mt-1">
                        @_localizer["price"]<span style="color:red">(*)</span>
                    </label>
                    <div class="form-icon right">
                        <input type="number" class="form-control form-control-icon" asp-for="Price" value="@Model.Price" id="iconrightInput" >
                        <i class="ri-mail-unread-line"></i>
                    </div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="SalePrice" class="form-label mt-1">
                        @_localizer["saleprice"]
                    </label>
                    <div class="form-icon right">
                        <input type="text" class="form-control form-control-icon" asp-for="SalePrice" value="@Model.SalePrice" id="iconrightInput" placeholder="@_localizer["enter"] @_localizer["saleprice"]">
                        <i class="ri-lock-2-line"></i>
                    </div>
                    <span asp-validation-for="SalePrice" class="text-danger"></span>
                </div>

            </div>
        </div>



    </div>

    <div class="col-lg-6">

        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@_localizer["otherinformation"]</h4>

            </div><!-- end card header -->
            <div class="card-body">

                <div class="mt3">
                    <label for="iconrightInput" class="form-label mt-1">
                        @_localizer["image"]<span style="color:red">(*)</span>
                    </label>
                    <div class="form-icon right">
                        <input type="file" name="uploadFile" class="form-control form-control-icon" id="iconrightInput">
                        <i class="mdi mdi-file-image-minus-outline"></i>
                    </div>
                </div>
                <div class="mt3" style="display:none">
                    <label for="iconrightInput" class="form-label mt-1">
                        @_localizer["album"]
                    </label>
                    <div class="form-icon right">
                        <input type="file"  class="form-control form-control-icon" id="iconrightInput">
                        <i class="mdi mdi-file-image-minus-outline"></i>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-12">
                        <label asp-for="Publish" class="form-label mt-1">
                            @_localizer["publish"]<span style="color:red">(*)</span>
                        </label>
                        <select asp-for="Publish" class="form-select mb-3" aria-label="Default select example">
                            <option selected="" value="">@_localizer["selectpublish"] </option>
                            <option value="1">@_localizer["active"]</option>
                            <option value="0">@_localizer["inactive"]</option>
                        </select>
                        <span asp-validation-for="Publish" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@_localizer["brandandcategory"]</h4>

            </div><!-- end card header -->
            <div class="card-body">

                <div class="col-12">
                    <label asp-for="CategoryId" class="form-label mt-1">
                        @_localizer["category"]<span style="color:red">(*)</span>
                    </label>
                    <select asp-for="CategoryId" class="form-select mb-3" aria-label="Default select example">
                        <option selected="" value="">@_localizer["selectcategory"] </option>
                        @foreach (var item in ViewBag.categories)
                        {
                            <option value="@item.Id">@item.CategoryLanguages[0].CategoryName</option>
                        }

                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="BrandId" class="form-label mt-1">
                        @_localizer["brand"]<span style="color:red">(*)</span>
                    </label>
                    <select asp-for="BrandId" class="form-select mb-3" aria-label="Default select example">
                        <option selected="" value="">@_localizer["selectbrand"] </option>
                        @foreach (var item in ViewBag.brands)
                        {
                            <option value="@item.BrandId">@item.BrandName</option>
                        }

                    </select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>


   <!-- <div class="col-lg-6">
        <div class="card " id="form-container">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@_localizer["attribute"]</h4>
               
            </div><!-- end card header -->
            <div>
     
    </div>

    </div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"> @_localizer["description"]</h4>
            </div><!-- end card header -->

            <div class="card-body">

                <div class="snow-editor" id="editor" style="height: 300px;">
                   
                </div> <!-- end Snow-editor-->
                <input type="hidden" id="Description" name="Description" asp-for="Description" />
               
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div>


<div class="row mb-3">
    <div class="col-12 text-right">
        <button type="submit" id="submitButton" class="btn rounded-pill btn-primary waves-effect waves-light">@_localizer["submit"]</button>
    </div>

</div>


