@using X.PagedList.Mvc.Core;
@using Microsoft.Extensions.Localization
@using Asp.netApp.Areas.Admin.Resources

@inject IViewLocalizer _localizer;

<form action="" method="get" style="display:flex;height: 36px">
    <select name="brandId" class="form-select " aria-label="Default select example">
       
        <option value="">@_localizer["allbrand"]</option>
        @foreach (var item in ViewBag.brands)
        {
            @if (ViewBag.BrandId == item.BrandId.ToString())
            {

                <option value="@item.BrandId" selected>@item.BrandName</option>
            }else
            {
                <option value="@item.BrandId">@item.BrandName</option>
            }
            
        }
    </select>
    <select name="categoryId" class="form-select " aria-label="Default select example">
       
        <option value="">@_localizer["allcategory"]</option>
        @foreach (var item in ViewBag.categories)
        {
            @if (ViewBag.categoryId == item.Id.ToString())
            {

                <option value="@item.Id" selected>
                    @item.CategoryLanguages[0].CategoryName
                </option>
            }else
            {
                <option value="@item.Id" >
                    @item.CategoryLanguages[0].CategoryName
                </option>
            }
            
        }
    </select>
    <select class="form-select " name="publish" aria-label="Default select example"> 
        <option value="">@_localizer["allstatus"]</option>
        @if (ViewBag.publish == "1")
        {
            <option value="1" selected>@_localizer["active"]</option>
            <option value="0">@_localizer["inactive"]</option>
        }
        else if (ViewBag.publish == "0")
        {
            <option value="1">@_localizer["active"]</option>
            <option value="0" selected>@_localizer["inactive"]</option>
        }else
        {
            <option value="1">@_localizer["active"]</option>
            <option value="0">@_localizer["inactive"]</option>
        }
    </select>
    <div class="input-group">
        <input type="text" class="form-control" name="s" value="@ViewBag.s" placeholder="@_localizer["search"] ...">
        <button type="submit" class="btn btn-success waves-effect waves-light"><i class="las la-search"></i></button>
    </div>
</form>