@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using X.PagedList.Mvc.Core;
@using Microsoft.Extensions.Localization
@using Asp.netApp.Areas.Admin.Resources
@using Asp.netApp.Areas.Admin.Models.ViewModels.Account.LanguageModel


@{
    var items = ViewBag.products as X.PagedList.IPagedList<Asp.netApp.Areas.Admin.Models.DataModels.Product>;

}
<style>
    .pagination{
        justify-content:flex-end !important;
    }
</style>
<!-- Header Area End Here -->
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="active">Shop List Right Sidebar</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Li's Content Wraper Area -->
<div class="content-wraper pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1">
              
                <!-- Li's Banner Area End Here -->
                <!-- shop-top-bar start -->
                <div class="shop-top-bar mt-30">
                    <div class="shop-bar-inner">
                        <div class="product-view-mode">
                            <!-- shop-item-filter-list start -->
                            <ul class="nav shop-item-filter-list" role="tablist">
                                <li class="active" role="presentation"><a data-toggle="tab" aria-selected="true" class="active show" role="tab" aria-controls="grid-view" href="#grid-view"><i class="fa fa-th"></i></a></li>
                                <li class="" role="presentation"><a aria-selected="false" data-toggle="tab" role="tab" aria-controls="list-view" href="#list-view" class=""><i class="fa fa-th-list"></i></a></li>
                            </ul>
                            <!-- shop-item-filter-list end -->
                        </div>
                        <div class="toolbar-amount">
                            <span>Showing 1 to 9 of 15</span>
                        </div>
                    </div>
                    <!-- product-select-box start -->
                    <div class="product-select-box">
                        <div class="product-short">
                            <p>Sort By:</p>
                            <select class="nice-select">
                                <option value="trending">Relevance</option>
                                <option value="sales">Name (A - Z)</option>
                                <option value="sales">Name (Z - A)</option>
                                <option value="rating">Price (Low &gt; High)</option>
                                <option value="date">Rating (Lowest)</option>
                                <option value="price-asc">Model (A - Z)</option>
                                <option value="price-asc">Model (Z - A)</option>
                            </select>
                        </div>
                    </div>
                    <!-- product-select-box end -->
                </div>
                <!-- shop-top-bar end -->
                <!-- shop-products-wrapper start -->
                <div class="shop-products-wrapper">
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                            <div class="product-area shop-product-area">
                                <div class="row">
                                    @if (items != null)
                                    {
                                        @foreach (var item in items)
                                        {
                                            <div class="col-lg-4 col-md-4 col-sm-6 mt-40">
                                                <!-- single-product-wrap start -->
                                                <div class="single-product-wrap">
                                                    <div class="product-image">
                                                        <a asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id">
                                                            <img src="/images/@item.Image" alt="Li's Product Image">
                                                        </a>
                                                        <span class="sticker">New</span>
                                                    </div>
                                                    <div class="product_desc">
                                                        <div class="product_desc_info">
                                                            <div class="product-review">
                                                                <h5 class="manufacturer">
                                                                    <a href="product-details.html">Graphic Corner</a>
                                                                </h5>
                                                                <div class="rating-box">
                                                                    <ul class="rating">
                                                                        <li><i class="fa fa-star-o"></i></li>
                                                                        <li><i class="fa fa-star-o"></i></li>
                                                                        <li><i class="fa fa-star-o"></i></li>
                                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <h4><a class="product_name" asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id">@item.ProductLanguages.ElementAt(0).ProductName</a></h4>
                                                            <div class="price-box">
                                                                <span class="new-price">@string.Format("{0:C}", item.Price)</span>
                                                            </div>
                                                        </div>
                                                        <div class="add-actions">
                                                            <ul class="add-actions-link">
                                                                <li class="add-cart active"><a href="shopping-cart.html">Add to cart</a></li>
                                                                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                                <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-wrap end -->
                                            </div>

                                        }

                                    }
                              

                                </div>
                            </div>
                        </div>
                        <div id="list-view" class="tab-pane fade product-list-view " role="tabpanel">
                            <div class="row">
                                <div class="col">
                                    @if (items != null)
                                    {
                                        @foreach (var item in items)
                                        {
                                            <div class="row product-layout-list">
                                                <div class="col-lg-3 col-md-5 ">
                                                    <div class="product-image">
                                                        <a asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id">
                                                            <img src="/images/@item.Image" alt="Li's Product Image">
                                                        </a>
                                                        <span class="sticker">New</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-7">
                                                    <div class="product_desc">
                                                        <div class="product_desc_info">
                                                            <div class="product-review">
                                                                <h5 class="manufacturer">
                                                                    <a href="product-details.html">Graphic Corner</a>
                                                                </h5>
                                                                <div class="rating-box">
                                                                    <ul class="rating">
                                                                        <li><i class="fa fa-star-o"></i></li>
                                                                        <li><i class="fa fa-star-o"></i></li>
                                                                        <li><i class="fa fa-star-o"></i></li>
                                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <h4><a class="product_name" asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id">@item.ProductLanguages.ElementAt(0).ProductName</a></h4>
                                                            <div class="price-box">
                                                                <span class="new-price">$@item.Price</span>
                                                            </div>
                                                            <p>@item.ProductLanguages.ElementAt(0).Description</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="shop-add-action mb-xs-30">
                                                        <ul class="add-actions-link">
                                                            <li class="add-cart"><a href="#">Add to cart</a></li>
                                                            <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Add to wishlist</a></li>
                                                            <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i>Quick view</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }
                                
                
                                  
                                </div>
                            </div>
                        </div>
                        <div class="paginatoin-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p>Showing 1-12 of 13 item(s)</p>
                                </div>
                                <div class="col-lg-6 col-md-6">

                                    <ul class="pagination-box" >
                                        @Html.PagedListPager(
                                                 items,
                                                 page => Url.Action("Index", "Shop", new { page = page, brandId = ViewBag.brandId, categoryId = ViewBag.categoryId, s = ViewBag.s }),
                                                 new PagedListRenderOptions
                                        {
                                            UlElementClasses = new[] { "pagination" }, // Add a class to the <ul> element
                                            
                                            LiElementClasses = new[] { "page-item" }, // Add a class to each <li> element
                                            PageClasses = new[] { "page-link" }, // Add a class to each page link
                                            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                            DisplayLinkToLastPage = PagedListDisplayMode.Always
                                        }
                                                 )
                                    </ul>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shop-products-wrapper end -->
            </div>
            <div class="col-lg-3 order-1 order-lg-2">
                <!--sidebar-categores-box start  -->
             
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <form action="" method="get">
                    <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <a asp-action="Index" asp-controller="Shop" class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</a>
                    <button type="submit" class="btn-primary mb-sm-30 mb-xs-30 submit-button">Filter</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                     
                        <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
               
                                <ul>
                                    @foreach (var item in ViewBag.brands)
                                    {
                                        if (ViewBag.brandId != null)
                                        {
                                            if (ViewBag.brandId.Equals(item.BrandId.ToString()))
                                            {
                                                <li>
                                                    <input type="radio" checked name="brandId" value="@item.BrandId">
                                                    <a href="#">@item.BrandName (@item.Count)</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <input type="radio" name="brandId" value="@item.BrandId">
                                                    <a href="#">@item.BrandName (@item.Count)</a>
                                                </li>
                                            }
                                        }else
                                        {
                                            <li><input type="radio" name="brandId" value="@item.BrandId"><a href="#">@item.BrandName (@item.Count)</a></li>
                                        }
                                


                                    }
                                    

                                </ul>
                       
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                  

                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                
                                <ul>
                                    @foreach (var item in ViewBag.categories)
                                    {
                                        if (ViewBag.categoryId != null)
                                        {
                                            if (ViewBag.categoryId.Equals(item.Id.ToString()))
                                            {
                                                <li><input type="radio" checked name="categoryId" value="@item.Id"><a href="#"> @item.CategoryName (@item.Count)</a></li>
                                            }
                                            else
                                            {
                                                <li><input type="radio" name="categoryId" value="@item.Id"><a href="#"> @item.CategoryName (@item.Count)</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li><input type="radio" name="categoryId" value="@item.Id"><a href="#"> @item.CategoryName (@item.Count)</a></li>
                                        }
                                    }
                                </ul>
                        
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                  
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                </form>
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>