@using X.PagedList.Mvc.Core;
@using Microsoft.Extensions.Localization
@using Asp.netApp.Areas.Admin.Resources

@inject IViewLocalizer _localizer;

<form action="" method="get" style="display:flex;height: 36px">
    <select name="roleId" class="form-select " aria-label="Default select example">
       
        <option value="">@_localizer["AllRole"]</option>
        @foreach (var item in ViewBag.roles)
        {
            @if (ViewBag.roleId == item.RoleId.ToString())
            {

                <option value="@item.RoleId" selected>@item.RoleName</option>
            }else
            {
                <option value="@item.RoleId">@item.RoleName</option>
            }
         
            
        }
    </select>
    <select class="form-select " name="status" aria-label="Default select example"> 
        <option value="">@_localizer["AllStatus"]</option>
        @if (ViewBag.status == "1")
        {
            <option value="1" selected>@_localizer["Active"]</option>
            <option value="0">@_localizer["Inactive"]</option>
        }
        else if (ViewBag.status == "0")
        {
            <option value="1">@_localizer["Active"]</option>
            <option value="0" selected>@_localizer["Inactive"]</option>
        }else
        {
            <option value="1">@_localizer["Active"]</option>
            <option value="0">@_localizer["Inactive"]</option>
        }
    </select>
    <div class="input-group">
        <input type="text" class="form-control" name="s" value="@ViewBag.s" placeholder="@_localizer["Search"] ...">
        <button type="submit" class="btn btn-success waves-effect waves-light"><i class="las la-search"></i></button>
    </div>
</form>